div {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    background-color: lemonchiffon;
    text-align: center;
    padding-top: 5%;
    opacity: 0.8;
}

img {
    border-radius: 100%;
    width: 50%;
    box-shadow: 12px 12px 2px 1px burlywood;
}

body {
    background-image: url("images/bodybkg.jpg");
}

h3 {
    color: blue;
    font-weight: bolder;
    font-family: cursive;
    font-size: 25px;
}

p {
    text-align: justify;
    margin: 15px;
    font-family: Tahoma, sans-serif;
    font-style: italic;
}